/* Header scroll animation*/
.cbp-af-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: white;
	z-index: 80;
	height: 10%;
	overflow: visible;
    float: none;
    margin: 0 auto;
    padding-bottom: 20px;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
}

.cbp-af-header .cbp-af-inner {
    height: auto;
    padding-left: 40px;
	padding-bottom: 10px;
}

 /* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */

.cbp-af-header h1 {
	text-transform: uppercase;
    text-align: center;
    display: inline-block;
	color: #333;
	letter-spacing: 3px;
/*    padding-top: 1vw;*/
    line-height: 50px;
    font-size: 2vw;
/*	margin: 0 auto;*/
	float:none;
}

.menu-btn{
    visibility: visible;
    margin-top: 20px;
}

.cbp-af-header nav {
	float: right;
}

.cbp-af-header nav a:hover {
	color: #333;
}

/* Transitions and class for reduced height */
.cbp-af-header h1,
.cbp-af-header nav a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.cbp-af-header.cbp-af-header-shrink {
	height: 90px;
}

.cbp-af-header.cbp-af-header-shrink h1,
.cbp-af-header.cbp-af-header-shrink nav a {
	line-height: 20px;
}

.cbp-af-header.cbp-af-header-shrink h1 {
	font-size: 1em;
}

/* Example Media Queries */
@media screen and (max-width: 55em) {
	
	.cbp-af-header .cbp-af-inner {
		width: 100%;
	}

    .cbp-af-header h1{
        font-size: 3vw;
    }
    
	.cbp-af-header nav {
		display: block;
		margin: 0 auto;
		text-align: left;
		float: none;
	}

	.cbp-af-header nav a {
		line-height: 90px;
	}

	.cbp-af-header nav a {
		margin: 0 10px;
	}

	.cbp-af-header.cbp-af-header-shrink h1,
	.cbp-af-header.cbp-af-header-shrink nav a {
		line-height: 30px;
	}

	.cbp-af-header.cbp-af-header-shrink h1 {
/*		font-size: 15px;*/
        font-size: 3vw;
	}

	.cbp-af-header.cbp-af-header-shrink nav a {
		font-size: 1em;
	}
}

@media screen and (max-width: 32.25em) {
	.cbp-af-header nav a {
		font-size: 1em;
	}
}

@media screen and (max-width: 24em) {
	.cbp-af-header nav a,
	.cbp-af-header.cbp-af-header-shrink nav a {
		line-height: 1;
	}
}

/* END ANIMATION HEADER*/

#logoAnimation{
    width: 40%;
    margin: 0 auto;
}

#modal-close-btn{
    background-image: url('../img_ME/cross.png');
    height: 60px;
    width: 60px;
    background-size: cover;
    display: inline;
    z-index: 99;
    position: fixed;
    top: 10px;
    right: 10px;
    margin:10px;
}


#subtitleAbout{
    color: black;
}

#about p{
    font-size: 14px;
    padding-bottom: 40px;
}

#about{
    width:80%;
}


/*hover*/
.hover{
    opacity: 0.2;
  }
#navlogo{
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 15%;
    height: auto;
}

#more{
    font-size: 20px;
    letter-spacing: 8px;
    color: lightgrey;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
}

.grid-item h2{
    bottom: 50%;
    left: 0;
    position:absolute;
    text-align:center;
    width: 100%;
/*    background-color:rgba(255,255,255,0.7);*/
    visibility: hidden;
    font-size: 12px;
    letter-spacing: 2px;
    z-index: 999;
}

/* force scrollbar */
html { overflow-y: scroll; }

body {
  font-family: sans-serif;
}

/*#lcol {float: none;}*/



/* MASONRY GRID ===============================*/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/* ---- isotope ---- */

.navbar{
    height:190px;
}

.grid {
    background: #FFF;
/*    max-width: 1000px;*/
    margin: 0 auto;
/*    margin-left: 10%;*/
/*    margin-right: 10%;*/
/*    padding-left: 5%;*/
/*    padding-right: 5%;*/
/*    padding-top:35%;*/
    float: none;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
    width: 260px;
    float:center;
    margin-bottom: 120px;
}

.grid-item--width2{
    width: 40%;
}

.grid-item img {
    display: block;
    max-width: 100%;
    border-style: none;
}

/* END OF MASONRY GRID ===============================*/

/* Portfolio modal ===============================*/
.modal-dialog {
	margin: 0;
	width: 100%;
	height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: content-box;
    -webkit-box-shadow: none;
    box-shadow: none;
	overflow-y: auto;
	position: fixed;
	display: block;
	z-index: 9998;
}

.modal-content{
    height: inherit;
    width: inherit;
    position: fixed;
    overflow-y: scroll;
}

.modal-header {
	border: none;
}

#modal-title-wrapper h3{
    font-size: 25px;
    text-align: left;
    width: 60%;
    height: auto;
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
    text-align: left;
    padding-top:20px;
    letter-spacing: 5px;
    font-style: bold;
}

.modal-body{
	width:100%;
	height: auto;
    overflow: scroll;
	margin: 0 auto;
}

.caption-link{
    font-size: 14px;
    font-style: bold;
    color: #515151;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.modal-body img{
    margin: none;
    padding: none;
	border: none;
}

.modal-body a{
    font-size: 20px;
}

.text-box{
    width:100%;
}

/* end of Portfolio modal ===============================*/

/* MODAL SLIDER */

.slider-modal{
    margin: 0 auto;
    padding: 20px;
}

.wrap-modal{
    width: auto;
    height: 100%;
/*    border: 1px solid black;*/
    vertical-align: middle;
    overflow-y: hidden;
}

.container-modal {
    background-color: rgba(255,255,255,0);
    margin: 0 auto;
    position: relative;
    width: 80%;
    height: 100%;
    display: inline-block;  
/*    border: 1px solid red;*/
    vertical-align: middle;
/*    cursor: pointer;*/
}

.container-modal h2{
/*    background-color: rgba(0,0,0,0.3);*/
    color: rgba(255,255,255,1);
    position: absolute; 
    display: inline-block;
    top: 0; 
    font-size: 20px;
    margin-top: 0;
    top: 50%;
/*    width: 50%; */
/*    height: 100%;*/
    text-shadow: 0px 0px 20px grey;
    
}

#modal-prev{
    left:1%;
    visibility: hidden;
}

#modal-next{
    right:1%;
    visibility: hidden;
}

.container-hover{
    opacity: 0.8;
}


.caption-modal{
    width: 60%;
    height: auto;
    max-height: 100%;
    display: inline-block;
/*    border: 1px solid green;*/
    margin: 0 auto;
    vertical-align: middle;
/*    overflow: scroll;*/
    text-align: left;
/*    padding-left: 30px;*/
/*    padding-top:10px;*/
    padding-bottom: 30px;
}

.container-modal div {
    background-color: white;
    min-width: 100%;
    height: 100%;
/*  display: inline-block;*/
    display: none;
/*    cursor: pointer;*/
    text-align: center;
    position: relative;
}
.container-modal img {
/*    max-width: 80%;*/
    max-height: 100%;
    max-width: 100%;
    position:absolute;
    top:0;
    bottom:0;
    left:0; right: 0; 
    margin:auto;
/*    border: 1px solid purple;*/
}

.next {
  right: 5px;
    display: inline-block;
}

.prev {
  left: 5px;
}


/* END OF MODAL SLIDER*/

body {
    overflow-x: hidden;
/*    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-family: 'redacted_scriptbold', Arial, serif;
}

.text-muted {
    color: #777;
}

.text-primary {
    color: #fff;
    text-shadow: -2px -2px #000;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #80b4eb;
}

a:hover,
a:focus,
a:active,
a.active {
    text-decoration: none;
    color: #a99da1;
}



h1,
h2,
h3,
h4,
h5,
h6{
    text-transform: uppercase;
    font-weight: 600;
    font-style: bold;
}

.selectFilter{
    text-transform: uppercase;
    font-size: 10px;
    font-style: bold;
    letter-spacing: 1px;
    font-weight: 500;
}

.selectFilter span{
    color: black;
    cursor: pointer;
    padding: 3px;

}

.selected{
    background-color: #515151;
    color: white;
    cursor: pointer;
}

.img-centered {
    margin: 0 auto;
}

.img-user{
    width:200px;
    height:200px;
}

.user-des{
    position: relative;
    top: -100px;
}

.text-primary{

}

.text-info{

}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-darkest-gray {
    background-color: #222;
}

.btn-primary {
    border-color: #a99da1;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
    /*background-color: #a99da1; */
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
/*fieldset[disabled] .btn-primary.active {
    border-color: #a99da1;
    background-color: #a99da1;
}
*/
.btn-primary .badge {
    /*color: #a99da1; */
    background-color: #fff;
}

.btn-xl {
    padding: 20px 40px;
    border-color: #a99da1;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    /*background-color: #a99da1;*/
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #000;
    color: #fff;
    /*background-color: #a99da1;*/
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
}


.btn-xl .badge {
    color: #a99da1; 
    background-color: #fff;
}

.navbar-default {
    border-color: transparent;
    background-color: white;
}

.navbar-default .navbar-brand {
    letter-spacing: 3px;
    font-size: 20px;
    color: black;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}


.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
}

.navbar-default .nav li a {
    text-transform: uppercase;
    /*font-family: Montserrat,Helvetica,Arial,sans-serif;
    */
    font-weight: 400;
    letter-spacing: 1px;
    color: #000;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
}

.navbar-default .navbar-nav>.active>a:hover,


@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(../img/header-bg.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
}

section {
    padding: 100px 0;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}
footer {
/*    margin: auto 0;*/
    float: none;
    padding: 25px 45px;
    text-align: center;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #a99da1;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #a99da1;
}

::selection {
    text-shadow: none;
    background: #a99da1;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}


body {
    /* padding-top: 50px;*/ 
    webkit-tap-highlight-color: #a99da1;
}

/* TITLE LAYOUT************************* */

.title{
    text-decoration-color: #515151;
	display:inline-block;
}

#subtitle{
	color: black;
}

#slash{
    padding-left: 10px;
}

h1.title-sub{
    background-color: #515151;
    color: white;
    line-height: 38px;
/*    font-weight: 100;*/
}

.containerheader{
    padding-left: 50px;
	margin-top: 30px;
/*	margin-bottom: 30px;*/
}

/* END OF TITLE LAYOUT************************* */

.tooltipster-follower.tooltipster-borderless.tooltipster-borderless-customized .tooltipster-box {
	border-radius: 0px;
    background: #515151;
    letter-spacing: 1px;
    font-weight: 100;
    text-transform: uppercase; 
    font-size: 12px;
}